<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @election.position %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @election.deadline %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @election.deadline.strftime("%H:%M %F") %>
</p>

<p>
  <strong>

<p>
  <strong>Session:</strong>
  <%= @election.session %>
</p>

<p>
  <strong>Candidates:</string>
    <% if @election.in_progress? and @current_user %>
        <%= form_with url:  do |f| %>
        <table>
          <tr></tr>
          <tr></tr>
          <% @election.candidates.each do |candidate| %>
            <td>
            <%= link_to "#{candidate.user.name}", candidate %> 
            </td>
            <td>
              <%= f.submit "Vote", data: candidate.id %>
            </td>
          <% end %>
        </table>
    <% else %>
      <% if @election.in_progress? %>
        <p><strong>Please log in to vote.</strong></p>
      <% end %>
      <% @election.candidates.each do |candidate| %>
        <%= link_to "#{candidate.user.name}", candidate %><br>
        <% end %>
    <% end %>
</p>
