<center>
<p id="notice"><%= notice %></p>

<p>
  <!--<strong>Position:</strong>-->
<strong><%= @election.position %></strong>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @election.deadline.strftime("%H:%M %F") %>
</p>

<p>
  <strong>Election starts:</strong>
</p>


<p>
  <strong>Session:</strong>
  <%= @election.session %>
</p>

<p>
  <strong>Candidates:</string><br>
    <% if @election.in_progress? and @current_user %>
      <%= form_with(model: @election, local: true) do |f| %>
        <table>
          <tr></tr>
          <tr></tr>
          <% @election.candidates.each do |candidate| %>
            <td>
            <%= link_to "#{candidate.user.name}", candidate %>
            </td>
            <td>
              <%= f.submit "Vote", data: candidate.id %>
            </td>
          <% end %>
        </table>
      <% end %>
    <% else %>
      <% if @election.in_progress? %>
        <p><strong>Please log in to vote.</strong></p>
      <% end %>
      <% @election.candidates.each do |candidate| %>
        <%= link_to "#{candidate.user.name}", candidate %><br>
      <% end %>
    <% end %>
</p>
</center>
