
<div class = "container"
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Affiliation:</strong>
    <%= @candidate.affiliation %>
  </p>



  <p>
    <strong>Candidate Email:</strong>
    <%= @candidate.user.email %>
  </p>
  <p>
    <strong>Candidate Gender:</strong>
    <%= @candidate.user.gender %>
  </p>
  <p>
    <strong>Candidate Branch:</strong>
    <%= @candidate.user.branch %>
  </p>
  <p>
    <strong>Candidate Course:</strong>
    <%= @candidate.user.course %>
  </p>

  <p>
    <strong>CGPA:</strong>
    <%= @candidate.cgpa %>
  </p>
  <p>
    <strong>Past Experience:</strong>
    <%= @candidate.experience %>
  </p>

  <p>
    <strong>About Me:</strong>
    <%= @candidate.about_me %>
  </p>
<div class="btn btn-default">
  <%= link_to 'Back', candidates_path, :class => "btn" %>

</div>
</div>
