<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "style" %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="style.css" rel="stylesheet">
  </head>

  <body>
  <h1>Welcome to the NITK Online Voting Portal</h1>

    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <!--<div class="navbar-header"> -->
						<a class = "navbar-brand" href="#"> <img src="img/logo.png" alt="logo"> </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
											</button>
                    <!--<a class="navbar-brand" href="#" <img src="https://en.wikipedia.org/wiki/National_Institute_of_Technology_Karnataka#/media/File:NITK_Emblem.png" alt="Mountain"> </a>-->


                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
													<li class="nav-item active">
														<a class="nav-link" href="">Home</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="#">Elections</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="candidates">Candidates</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="#">Admin</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="#">About Us</a>
													</li>


                        </ul>
             </div>
        </div>
			</div>
</nav>
<%= yield %>
  </body>
</html>
